:root {
  --hue: 330;
}
@media (prefers-color-scheme: light) {
  :root {
    --background: hsl(var(--hue), 30%, 90%);
    --background-elevated: hsl(var(--hue), 30%, 80%);
    --foreground: hsl(var(--hue), 30%, 10%);
    --background-50: hsl(var(--hue), 30%, 90%, 0.5);
    --background-elevated-50: hsl(var(--hue), 30%, 30%, 0.5);
    --foreground-50: hsl(var(--hue), 30%, 10%, 0.5);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(var(--hue), 30%, 10%);
    --background-elevated: hsl(var(--hue), 30%, 20%);
    --foreground: hsl(var(--hue), 30%, 90%);
    --background-50: hsl(var(--hue), 30%, 10%, 0.5);
    --background-elevated-50: hsl(var(--hue), 30%, 20%, 0.5);
    --foreground-50: hsl(var(--hue), 30%, 90%, 0.5);
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}
